* {
  margin: 0;
  padding: 0;
}

/* Global Variables */

:root {
  --primeclr: #f42267;
  --secandoryclr: #4a2d7f;
  --white: #ffffff;
  --blacko: #0b0b0b;
  --sectionbg: #f1f1f1;
  --primeshadow: #fe5991;
  --secshadow: #a47fe9;
}

body {
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
  color: var(--blacko);
  /* max-width: 1344px; */
  margin: 0 auto;
}

span {
  font-family: "Spectral", serif;
  font-style: italic;
  font-size: 26px;
}

h1 {
  font-size: clamp(36px, 30vw, 46px);
}

h2 {
  font-size: clamp(30px, 30vw, 40px);
}

button {
  background-color: var(--primeclr);
  border: none;
  border-radius: 50px;
  padding: 16px 40px;
  color: var(--white);
  font-size: clamp(16px, 3vw, 18px);
  box-shadow: 0px 8px var(--primeshadow);
  transition: all ease-out 0.3s;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

button:active {
  box-shadow: 0px 0px var(--primeshadow);
}

header {
  display: flex;
  /* max-width: 1344px; */
  justify-content: space-between;
  align-items: center;
  background-color: var(--secshadow);
  z-index: 1000;
  padding: 2rem 8rem;
}

#logo {
  display: flex;
  z-index: 1000;
}

#logo img {
  display: inline-block;
  width: 220px;
  height: auto;
  z-index: 1000;
}

nav {
  display: flex;
  position: relative;
  z-index: 1000;
}

.link-list {
  display: flex;
  z-index: 1000;
}

.link-list a {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  margin-right: 20px;
  transition: all ease-in-out 300ms;
  z-index: 1000;
}

.link-list a:hover {
  color: var(--secandoryclr);
}

#sidebar-ctrl {
  display: none;
  z-index: 1000;
}

.open-menu,
.close-menu {
  display: none;
  z-index: 1000;
}

/* 1st Section */
.first_section {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: url("SRC Images/hero-section-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding: 15rem 6rem 12rem 7rem; */
  margin-top: -10rem;
  height: 90vh;
}

.first_section .content {
  display: flex;
  flex-direction: column;
  z-index: 5;
  color: var(--white);
  gap: 25px;
  width: 60%;
  padding: 12rem 0rem 12rem 8rem;
  /* align-items: center; */
}

.button-containor {
  display: flex;
  gap: 18px;
}

.button-containor button {
  box-shadow: none;
}

.button-containor #btn2 {
  background-color: var(--secandoryclr);
}

.first_section img {
  z-index: 5;
  max-width: 550px;
  height: auto;
  justify-self: end;
  padding: 10rem 15rem 0rem 0rem;
  opacity: 0.9;
  /* padding-right: 30px; */
  /* position: absolute;
  bottom: 0;
  right: 100px; */
}

/* Second Containor */
.sec-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-height: 662px;
  background: url("SRC Images/sec-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0rem 8rem;
}

/* content Section */

.sec-section .content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: baseline;
  gap: 25px;
}

.sec-section button {
  display: inline;
}

.content li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-weight: 500;
  transition: all ease-out 0.3s;
}

/* .content li:last-child {
  background-color: var(--primeclr);
  padding: 12px 25px;
  border-radius: 50px;
  color: var(--white);
} */

.content li:hover {
  background-color: var(--primeclr);
  padding: 12px 25px;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
}

/* section 2 Image */

.sec-section img {
  justify-self: end;
  width: auto;
  height: 450px;
  padding-right: 130px;
  padding-top: 3rem;
}

/* 3rd Section */

.third-setion {
  background-color: var(--secandoryclr);
  display: flex;
}

.clmns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  color: var(--white);
  text-align: center;
  padding: 8px 70px;
  gap: 15px;
  max-width: 33.3%;
}
.clmn-icon {
  width: 80px;
  height: auto;
}

.clmns h3 {
  font-size: clamp(24px, 3vw, 38px);
  font-weight: 600;
}

.clmns h4 {
  font-size: clamp(18px, 3vw, 23px);
  font-weight: 500;
}

#middlecl {
  background-color: #41286a;
}
/*  */
@media only screen and (max-width: 730px) {
  header {
    background-color: var(--primeclr);
  }

  #logo img {
    width: 120px;
    height: auto;
  }

  .open-menu {
    display: inline-block;
  }

  .link-list {
    flex-direction: column;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 65px 35px;
    display: none;
  }
}
